<html>
    <head>
        <title> Andea's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My very first blog</a></h1>
        </div>

        <div>
            <p>published 01.08.2023, 12:30</p>
            <h1><a href="/">My first post</a></h1>
            <p>Hello people from Guadalajara, I'm pleased to announce that today I'm backending</p>
        </div>

        <div>
            <p>published 31.07.2023, 12:30</p>
            <h1><a href="/">My second post</a></h1>
            <p>Hello my dear backenders! I have so much to tell you, yesterday I learned how to initializate a web page, keep up with me in so you can see hoy I get a job soon</p>
        </div>
    </body>
</html>